<div id="header">
  <div class="inner">
    <h1 id="logo"><a href="/main"><img src="/images/img/logo.png" alt="Aibril"></a></h1>
    <div class="topMenu">
      <ul>
        <li><a href="#">정보 수정</a></li>
        <li><a href="#">계정관리</a></li>
        <li><a href="#">기능 설정</a></li>
        <li><a href="/users/logout">로그아웃</a></li>
      </ul>
    </div>
  </div>
</div>
